/* styles for each ProjectCard */
.project-card {
    width: 225px;    
    height: 225px;   
    position: relative;
    margin-bottom: 28px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    opacity: 1;
  }
  
  /* styles for each project image */
  .project-image {
    width: 100px;    
    height: 100px;   
    object-fit: cover;
    margin: 0;       
    opacity: 1;      
  }
  
  /* styles for the project title */
  .project-card h3 {
    font-size: 18px;   
    margin: 40px 0;
  }
  
  /* styles for the project date */
  .project-card p {
    font-size: 14px;   
    color: #666;
  }