/* styles TopBar component */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
  }

  /* styles for search bar */
  .search-bar {
    width: 800px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  /* container for profile information */
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  /* style for profile name */
  .profile-name {
    font-weight: bold;
  }
  
  /* style for profile email */
  .profile-email {
    color: gray;
  }